### Basic library imports

In [1]:
import os
import pandas as pd

### Read Dataset

In [2]:
DATASET_FOLDER = '../dataset/'
train = pd.read_csv(os.path.join(DATASET_FOLDER, 'train.csv'))
test = pd.read_csv(os.path.join(DATASET_FOLDER, 'test.csv'))
sample_test = pd.read_csv(os.path.join(DATASET_FOLDER, 'sample_test.csv'))
sample_test_out = pd.read_csv(os.path.join(DATASET_FOLDER, 'sample_test_out.csv'))

In [3]:
sample_test_out

    index        prediction
0       0         21.9 foot
1       1           10 foot
2       2               NaN
3       3   289.52 kilovolt
4       4  1078.99 kilowatt
..    ...               ...
83     83               NaN
84     84               NaN
85     85         500 pound
86     86      354.58 pound
87     87               NaN

[88 rows x 2 columns]

### Run Sanity check using src/sanity.py

In [4]:
!python sanity.py --test_filename ../dataset/sample_test.csv --output_filename ../dataset/sample_test_out.csv

Parsing successfull for file: ../dataset/sample_test_out.csv

In [5]:
!python sanity.py --test_filename ../dataset/sample_test.csv --output_filename ../dataset/sample_test_out_fail.csv

Error: Invalid unit [lbs] found in 6.75 lbs. Allowed units: {'cubic inch', 'ounce', 'pint', 'cup', 'gram', 'centimetre', 'kilovolt', 'microgram', 'decilitre', 'quart', 'ton', 'volt', 'kilowatt', 'centilitre', 'millivolt', 'watt', 'foot', 'cubic foot', 'milligram', 'fluid ounce', 'metre', 'microlitre', 'millimetre', 'gallon', 'pound', 'millilitre', 'litre', 'inch', 'kilogram', 'imperial gallon', 'yard'}

In [22]:
train

,image_link,group_id,entity_name,entity_value
0,https://m.media-amazon.com/images/I/61I9XdN6OF...,748919,item_weight,500.0 gram
1,https://m.media-amazon.com/images/I/71gSRbyXmo...,916768,item_volume,1.0 cup
2,https://m.media-amazon.com/images/I/61BZ4zrjZX...,459516,item_weight,0.709 gram
3,https://m.media-amazon.com/images/I/612mrlqiI4...,459516,item_weight,0.709 gram
4,https://m.media-amazon.com/images/I/617Tl40LOX...,731432,item_weight,1400 milligram
...,...,...,...,...
263854,https://m.media-amazon.com/images/I/612J1R1xHl...,558806,height,5.0 centimetre
263855,https://m.media-amazon.com/images/I/61Blzh2+28...,470067,height,8.5 inch
263856,https://m.media-amazon.com/images/I/51MsegDL9V...,204245,height,43.2 centimetre
263857,https://m.media-amazon.com/images/I/510KhVw4VS...,752266,height,9.1 centimetre
263858,https://m.media-amazon.com/images/I/51lzTNLQ-6...,416664,height,27.5 centimetre

### Download images

In [15]:
from utils import download_images
download_images(train['image_link'], '../images')

100%|████████████████████████████████████████████████████████████████████████████| 88/88 [00:37<00:00,  2.37it/s]

In [17]:
# assert len(os.listdir('../images')) > 0
# rm -rf ../images